@model Prueba4Crud.Models.Tbcita

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Cita</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
         @*   <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>*@
            <br />  
          @*  <div class="form-group">
                <label asp-for="Previsión" class="control-label"></label>
                <input asp-for="Previsión" class="form-control" />
                <span asp-validation-for="Previsión" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Previsión" class="control-label">Prevision</label>

                <select id="Previsión" name="Previsión" class="form-control">
                    <option value=Fonasa>Fonasa</option>
                    <option value=Isapre>Isapre</option>
                </select>

                @*<input asp-for="ModoCita" class="form-control" />*@


                <br />
                <span asp-validation-for="Previsión" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="ModoCita" class="control-label">Modo Cita</label>

                <select id="ModoCita" name="ModoCita" class="form-control">
                        <option value=On-Line>On-Line</option>
                        <option value=Presencial>Presencial</option>
                    </select>
                
                @*<input asp-for="ModoCita" class="form-control" />*@

              
               <br />
                <span asp-validation-for="ModoCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDoctor" class="control-label"></label>
                <select asp-for="IdDoctor" class ="form-control" asp-items="ViewBag.IdDoctor"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                <select asp-for="IdPaciente" class ="form-control" asp-items="ViewBag.IdPaciente"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
